<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/addAreoport.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Add an Aiport</h1>
      <div class="deplacer">
        <div class="ajoutAirport">
          <form action="">
            <img src="/images/SSMAlogo.png" alt="" />
            <table>
              <tr>
                <td class="td1">Ground Waiting Time</td>
                <td>
                  <input
                    type="number"
                    name="ground_waiting_time"
                    id="nbr"
                    class="input"
                  />
                </td>
              </tr>
              <tr>
                <td class="td1">Waiting loop duration</td>
                <td>
                  <input
                    type="number"
                    name="waiting_loop_duration"
                    id="nbr"
                    class="input"
                  />
                </td>
              </tr>

              <tr>
                <td class="td1">Number of floor space</td>
                <td>
                  <input
                    type="number"
                    name="number_of_floor_space"
                    id="nbr"
                    class="input"
                  />
                </td>
              </tr>
              <tr>
                <td class="td1">Landing Time</td>
                <td>
                  <input
                    type="number"
                    name="landing_time"
                    id="nbr"
                    class="input"
                  />
                </td>
              </tr>
              <tr>
                <td class="td1">Take-off time</td>
                <td>
                  <input
                    type="number"
                    name="take_off_time"
                    id="nbr"
                    class="input"
                  />
                </td>
              </tr>
              <tr>
                <td class="td1">Localization</td>
                <td>
                  <input
                    type="text"
                    name="localization"
                    id="localization"
                    class="input"
                  />
                </td>
              </tr>
            </table>
            <div class="sbmt">
              <input type="submit" class="submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  <script src="/js/addAreoport.js"></script>
  </body>
</html>
